# node modules package files
node_modules

# yarn files
yarn.lock
yarn-error.log

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# vscode project files
.vscode

# environment files
.env